html,
body{
	margin: 0;
	max-width: 390px;
	color: var(--tg-theme-text-color);
	background-color: #ffff;
	font-size: 1rem;
}
.header{
	padding: 10px;
	border-bottom: 1px solid #555555;
}
.header .categoryCell{
	margin: 3px;
	padding: 3px 16px 3px 16px;
}
.header .categoryCell.is-nav-selected {
	transition: all ease 0.1s;
	border-radius: 16px;
	background: rgb(51, 144, 236);
	color: rgb(255, 255, 255);
}