html,
body{
	color: white;
	background-color: #333;
}
.header{
	overflow: hidden;
	border: 1px solid red;
}
.menu-slider{
	border: 1px solid rgb(200, 180, 197);
}

.menu-slider_slide{
	border: 1px solid rgb(115, 0, 255);
}
.menu-slider__menu{
	border-radius: 15px;
	padding: 0px 10px 0px 10px;
	height: 20px;
	display: flex;
	border: 1px solid rgb(0, 255, 85);
}
.menu-slider__menu-img{
	border: 1px solid rgb(47, 125, 250);
}

.menu-slider__menu-text{
	border: 1px solid rgb(47, 125, 250);
}
.menu-slider .swiper-slide{
	width: auto;
}