body{
	font-size: 1rem;
	margin: 0px;
	padding-bottom: 10px;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",
	Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji",
	"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
::-webkit-scrollbar{
	width: 0;
}
.header{
	position: fixed;
	min-width: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: var(--tg-theme-bg-color);
	border-bottom: 1px solid var(--tg-theme-hint-color);
}
.slider{
	padding-right: 20px;
}
.slider a{
	margin-left: 3px;
	padding: 6px 16px 6px 16px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	text-decoration: none;
}
.header a:last-child{
	margin-right: 3px;
}
.header a.active{
	transition: all ease 210ms;
	margin-right: 0px 3px 0px 3px;
	border-radius: 25px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}
.container{
	margin-top: 65px;
}
.container p{
	margin-right: 10px;
	font-size: 14px;
	color: var(--tg-theme-hint-color);
}
.categoryElem{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cardProduct{
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: var(--tg-theme-bg-color);
	box-shadow: 0px 0px 30px 5px var(--tg-theme-secondary-bg-color);
	border-bottom: 2px solid var(--tg-theme-bg-color);
}
.cardProduct img{
	width: 100%;
	height: 130px;
	object-fit: cover;
}
.cardProduct h3{
	margin: 0;
	font-size: 16px;
	padding: 0px 5px 0px 5px;
}
.cardProduct p{
	font-size: 14px;
	padding: 0px 5px 0px 5px;
	color: var(--tg-theme-hint-color);
}
.btn-space{
	padding: 0px 8px 7px 8px;
}
.btn-space button{
	width: 100%;
	padding: 8px 0px 8px 0px;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}