body{
	font-size: 1rem;
	margin: 0px;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",
	Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji",
	"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
::-webkit-scrollbar{
	width: 0;
}

.mottled_basked{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.listItem{
	padding: 10px;
}
.listItemImg{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.listItemDiscription{
	display: inline-block;
	vertical-align: top;
}
.name{
	font-size: 14px;
}
.discription{
	font-size: 12px;
}/*
.listItemPrice{
	display: inline-block;
	width: 17%;
}
.btn-space .buttonRemove{
	display: inline-block;
	width: calc(30% - 5px);
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}
.btn-space .quantity{
	display: inline-block;
	width: calc(40%);
	padding: 8px 0px;
	text-align: center;
	border: none;
	border-radius: 5px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-secondary-bg-color);
}
.btn-space .quantity:focus{
	outline: none;
}
.btn-space .buttonAdd{
	display: inline-block;
	width: calc(30% - 5px);
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}